{% block location_widget %}
    {% spaceless %}
        <pre>{{ value|json_encode() }}</pre>
        {# just let the choice widget render the select tag #}
        {% if value.name is defined %}
          <input class="typeahead" type="text" id="place_{{ id }}" style="width: 400px;" value="{{ value.name }}">
        {% else %}
          <input class="typeahead" type="text" id="place_{{ id }}" style="width: 400px;" value="{{ value }}">
        {% endif %}
        {{ block('form_widget_simple') }}
        <div id="gmap_{{ id }}" style="width: 400px; height: 400px;"></div>
        <script type="text/javascript">
          $.geolocation.getCurrentPosition(function (locationData) {
            $('#{{ id }}').val(locationData).hide();
            $('#place_{{ id }}').show();
            $('#gmap_{{ id }}').show();

            var coords = locationData.coords;
            var current = new google.maps.LatLng(coords.latitude, coords.longitude);

            map = new google.maps.Map(document.getElementById('gmap_{{ id }}'), {
              center: current,
              zoom: 17
            });

            var request = {
              location: current,
              radius: '500',
              type: ['restaurant']
            };

            service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request, callback);

            function createMarker(place) {

              var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
              });

              google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
              });
            }

            function callback(results, status) {
              places = [];
              if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                  var place = results[i];
                  var placeLoc = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
                  place.distance = google.maps.geometry.spherical.computeDistanceBetween (placeLoc, current);
                  places.push(place);
                  createMarker(place);
                }

                places.sort(function(a,b) { return (a.distance>b.distance) ? 1 : -1; });

                $('#place_{{ id }}').typeahead({
                  hint: true,
                  name: 'places',
                  highlight: false,
                  minLength: 1
                },{
                  name: 'places',
                  source: substringMatcher(places),
                  templates: {
                    suggestion: function (data) {
                      console.info(data);
                      return '<p><img class="img-rounded ttIcon" src="' + data.icon + '"/><strong>' + data['name'] + '</strong> - ' + Math.round(data['distance']) + ' meter(s)</p>';
                    }
                  },
                  display: function(data) {
                    return data.name + ', ' + data.vicinity;
                  }
                });

                $('#place_{{ id }}').bind('typeahead:select', function(ev, suggestion) {
                  var json = JSON.stringify({'name': suggestion.name, 'vicinity': suggestion.vicinity, 'reference': suggestion.reference});
                  $('#{{ id }}').val(json);
                  console.log($('#{{ id }}'), 'Selection: ',  json);
                });

              }
            }

          }, function (errorData) {
            console.error('request failed', errorData);
          }, {});


          var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
              var matches, substringRegex;

              console.log(strs);

              // an array that will be populated with substring matches
              matches = [];

              // regex used to determine if a string contains the substring `q`
              substrRegex = new RegExp(q, 'i');

              // iterate through the pool of strings and for any string that
              // contains the substring `q`, add it to the `matches` array
              $.each(strs, function(i, str) {
                if (substrRegex.test(str.name)) {
                  matches.push(str);
                }
              });

              console.log(matches);

              cb(matches);
            };
          };

          var map;
          var service;
          var places = [];

          var placesSuggestions = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            identify: function(obj) { return obj.id; },
            local: places,
            cache: false
          });

        </script>
    {% endspaceless %}
{% endblock %}