{% extends '::base.html.twig' %}

{% block javascripts %}
    {% javascripts '@MoKingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    <!-- MoKing stylesheets -->
    {% stylesheets '@MoKingBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- #MoKing stylesheets -->
{% endblock %}

{% block title %}MoKing {% endblock %}

{% block menu %}
    {{ knp_menu_render('MoKingBundle:Builder:mainMenu', {'currentClass' : 'active', 'allow_safe_labels': true}) | raw }}
{% endblock %}

{% block toolbar %}
    {% if toolbar is defined %}
        {{ toolbar | raw }}
    {% endif %}
{% endblock %}

{% block fos_user_content %}{% endblock %}