<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets
            '../bower_components/bootstrap/dist/css/bootstrap.css'
            'css/sb-admin-2.css'
            'css/font-awesome.min.css'
            'css/moking.forms.css'
            '../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css'
            '../bower_components/metisMenu/dist/metisMenu.css'
            '@MoKingBundle/Resources/public/css/*'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets filter='less' output='css/bootstrap-theme.css'
            '@MoKingBundle/Resources/public/less/bootstrap-theme.less'
            '../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}

        {% stylesheets filter='less' output='css/compiled-main.css'
            '@MoKingBundle/Resources/public/less/app.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% javascripts
            '../bower_components/jquery/dist/jquery.min.js'
            '../bower_components/handlebars/handlebars.min.js'
            '../bower_components/bootstrap/dist/js/bootstrap.js'
            '../bower_components/moment/min/moment-with-locales.js'
            '../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
            '../bower_components/jquery-geolocation/jquery.geolocation.js'
            '../bower_components/metisMenu/dist/metisMenu.js'
            '../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js'
            '../bower_components/typeahead.js/dist/typeahead.jquery.js'
            '../bower_components/typeahead.js/dist/bloodhound.js'
            'js/sb-admin-2.js'
            '@MoKingBundle/Resources/public/js/*'
            %}
                <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSojSJHcK32P35lldT5NfhK-PZL7qWjpI&libraries=places,geometry"></script>
    </head>
    <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoKing</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% block menu %}{% endblock %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
                {% block user_menu %}{% endblock %}
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% block toolbar %}{% endblock %}

    <div class="container">
        {% block body %}{% endblock %}
    </div> <!-- /container -->
    </body>
</html>
