div.transactions {
  form {
    label { margin-top: 1em; }

    div.transactionProperties {
      margin-top: 40px;
    }

    div.input-group-md {
      .input-group > input, .input-group-btn > .btn , .input-group-addon {
          height: 42px;
          padding: 8px 16px;
          font-size: 20px;
          line-height: 1.222222;
      }

    }

    #transaction_currency {
      width: 200px;
      float: left;
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

    }

    #transaction_currency + div {
      width: 200px;
      float: left;
    }

    #transaction_value {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      text-align: right;
      font-weight:bold;
    }
  }
}

.submenu {
  .currency-off-left {
    input.money {
      padding-right: 40px;
      width: 200px;
      height: 32px;
    }
    span.currency {
      margin-left: -50px;
      max-width: 50px;

    }
  }
}

input.money {
  text-align: right;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px 10px 10px 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px; z-index: 3;}
.right-addon .glyphicon { right: 0px; z-index: 3;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.bootstrap-tagsinput .tag {
  top: -2px;
  position: relative;
}