.text-medium {
  font-size: 1.3em;
}

/* style icon */
nav .inner-addon .glyphicon {
  padding-top: 3px;
}

.bootstrap-tagsinput {
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  vertical-align: baseline;

  input {
    border: inherit;
    color: #666666;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}

.panel.panel-green a, .panel.panel-red a {
  color: @panel-link;
}

.tt-menu {
  background: #fff;
}

.twitter-typeahead {
  .tt-suggestion {
    line-height: 26px;
    vertical-align: middle;
    padding: 4px 20px 0px 4px;

    .ttIcon {
      width: 26px;
      padding: 4px;
    }
  }
}