{# app/Resources/views/blog/index.html.twig #}
{% extends 'MoKingBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Transactions{% endblock %}

{% block body %}
    <h1>Transactions</h1>
{% endblock %}