{# app/Resources/views/blog/index.html.twig #}
{% extends 'MoKingBundle::layout.html.twig' %}

{% block title %}MoKing{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ block('title') }}</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
    </div>
{% endblock %}