{# app/Resources/views/blog/index.html.twig #}
{% extends 'MoKingBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Add Transaction{% endblock %}

{% form_theme form _self %}

{% block money_widget -%}
    <div class="input-group">
        {% set append = money_pattern starts with '{{' %}
        {% if not append %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if append %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
    </div>
{%- endblock money_widget %}

{% block body %}
    <div class="transactions">
        <div class="transaction">
            <h1>New Transaction</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-6 col-sm-12 row-lg-2 input-group-md">
                    {{ form_label(form.value) }}<br/>
                    {{ form_widget(form.currency) }}
                    {{ form_widget(form.value, {attr: {class: 'autofocus'}}) }}
                    {{ form_errors(form.currency) }}
                    {{ form_errors(form.value) }}
                </div>
                <div class="col-lg-3 col-sm-12">
                    {{ form_errors(form.date) }}
                    {{ form_label(form.date) }}<br/>
                    {{ form_widget(form.date) }}
                </div>
                <div class="col-lg-3 col-sm-12">
                    {{ form_errors(form.partner) }}
                    {{ form_label(form.partner) }}<br/>
                    <span class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        {{ form_widget(form.partner) }}
                        </span>
                </div>
                <div class="col-lg-12 col-sm-12">
                    {{ form_label(form.subject) }}<br/>
                    {{ form_widget(form.subject) }}
                    {{ form_errors(form.subject) }}
                </div>

            </div>
            <div class="row container transactionProperties">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-address-book fa-fw"></i> Account Properties</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>



            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}