{# app/Resources/views/blog/index.html.twig #}
{% extends 'MoKingBundle::layout.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <div class="transactions">
        <div class="transactionList">
            {% for transaction in transactions %}
                <div class="transaction col-lg-3 col-md-6">
                    <div class="panel {% if transaction.value >=0 %}panel-green{% else %}panel-red{% endif %}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <a href="{{ path('transaction_detail', {'id': transaction.id}) }}">
                                        <div class="text-medium">{{ transaction.value | localizedcurrency(transaction.currency) }}</div>
                                        <div>{{ transaction.subject }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ transaction.date | localizeddate('full', 'none', app.request.locale ) }}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}