<nav class="navbar toolbar navbar-transactions">
    <div class="container">
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav">
                <ol class="breadcrumb">
                    {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('MoKingBundle:Builder:mainMenu')) %}
                        {% if not loop.last %}
                            <li><a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label | raw }}</a></li>
                        {% else %}
                            <li class="active">{{ breadcrumb_item.label | raw }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <div class="nav navbar-nav navbar-right">
                <form class="submenu">
                    <span class="currency-off-left input-group">
                        <span class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <input type="text" placeholder="Enter Value in {{ currency }}" class="money"/>
                        </span>
                        <button class="btn-outline btn btn-success" type="submit">Add</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</nav>